.login {
    display : grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}



.login a {
    border-radius: 99px;
    color: #fff;
    background-color: var(--spotify-green);
    text-decoration: none;
    padding: 20px;
    font-weight: 800;
}

