.footer {
    position: fixed;
    bottom: 0;
    height : 65px;
    width : 97%;
    padding : 20px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.footer__center{
    flex : 0.4;
    padding: 0 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__left, .footer_right{
    flex : 0.3
}